@use '../../Styles/scss/_App.module.scss';

@include App.scrollBar-custom-className(
  container,
  0px,
  10px,
  purple,
  transparent
);
.no-scroll {
  overflow: hidden;
}
.container {
  width: 100vw;
  height: calc(100vh - 130px);
  background-image: url('/assets/images/universe.jpg'); //& 배경 이미지.
  background-size: cover;
  color: gold;
  overflow-x: hidden;
  overflow-y: auto;
  @include App.flex-box-center(row);
  justify-content: start;
  position: relative;
  //& grid 쓰면 복사, 저장완료 모달뜰때 일그러짐.
  // display: grid;
  // grid-template-rows: 1fr;
  // grid-template-columns: 180px 1fr;
}
//! flex는 겉박스에 쓰면 창이 줄어들시 가려짐. 확인 계속해보기.
//! overflow 설정해야 가려지지 않음.
.container-box1 {
  width: 180px;
  height: 100%;
  overflow: auto;
  position: relative;
}
.container-box2 {
  width: calc(100% - 180px);
  height: 100%;
  position: relative;
}

.answer-container {
  width: 100%;
  height: 100%;
  @include App.position-absolute-center();
  z-index: 1;
}

.charging {
  background-color: rgb(255, 0, 0, 0.7);
  font-size: 1.2rem;
}

.unavailable-voucher {
  background-color: rgb(150, 50, 255, 0.7);
  font-size: 1.2rem;
}

.which-spread {
  // background-color: rgb(78, 6, 78, 0.7) !important;
  color: gold !important;
  // background-color: rgba(255, 215, 0, 0.7) !important;
  background-color: rgb(78, 6, 78, 0.8) !important;
  // border: 3px solid rgba(255, 215, 0, 0.7);
  font-weight: bold;
  // color: rgb(46, 46, 195) !important;
  // text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white,
  //   0.5px 0.5px 0 white; /* 흰색 외곽선 */
}
.homepage {
  width: 63px;
  height: 63px;
  position: fixed;
  right: 0;
  bottom: 80px;
  @include App.flex-box-center(column);
  border: 3px solid #663399;
  border-radius: 20%;
  z-index: 1;
  background-color: #9370db; // 연한 분홍색 배경
  @include App.dongle-font(1.5rem);
  line-height: 0.7;
  color: #ff8ba7;
  text-shadow: -1.1px -1.1px 0 #663399, 1.1px -1.1px 0 #663399,
    -1.1px 1.1px 0 #663399, 1.1px 1.1px 0 #663399;
  cursor: grabbing;
  user-select: none; // 드래그 방지
  -webkit-user-select: none; // Safari 지원
  -moz-user-select: none; // Firefox 지원
  -ms-user-select: none; // IE 지원
  padding-top: 2.4rem; /* 텍스트를 아래로 이동 */
  &::before {
    content: '🔮'; /* 집 대신 수정구슬 아이콘 */
    width: 40px; /* 책 배경 크기 */
    height: 30px; /* 책 배경 높이 */
    // background: linear-gradient(
    //   to right,
    //   #f5f5f5 48%,
    //   #ccc 48%,
    //   #ccc 52%,
    //   #f5f5f5 52%
    // ); /* 책처럼 보이는 배경 */
    // border: 2px solid #663399; /* 테두리 색상 */
    // border-radius: 50%; /* 수정구슬은 동그라니 원형으로! */
    position: absolute;
    top: 0.6rem;
    left: 50%;
    transform: translateX(-50%); /* 중앙 정렬 */
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.2); /* 그림자와 반짝이는 효과 */
    color: #e0e0ff; /* 수정구슬 색상 (밝은 보라색) */
    text-shadow: -1px -1px 0 #663399, 1px -1px 0 #663399, -1px 1px 0 #663399,
      1px 1px 0 #663399, 0px 1px 0 #663399, 0px -1px 0 #663399,
      1px 0px 0 #663399, -1px 0px 0 #663399;
    @include App.dongle-font(1.6rem); /* 수정구슬 크기 */
    display: flex;
    align-items: center;
    justify-content: center; /* 수정구슬 중앙 배치 */
  }
}

.homepage:hover {
  background-color: #3c1361;
  color: #9b6b9b;
  &::before {
    color: #ffd700; /* 호버 시 수정구슬 색상 (금색) */
    // background: linear-gradient(
    //   to right,
    //   #e0e0e0 48%,
    //   #bbb 48%,
    //   #bbb 52%,
    //   #e0e0e0 52%
    // ); /* 호버 시 책 배경색 */
    // border-color: #f0f0f0; /* 호버 시 테두리 색상 */
    @include App.dongle-font(1.7rem); /* 수정구슬 크기 */
  }
}
//~ 디바이스
@media (min-device-width: 1025px) and (max-device-width: 1366px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-device-width: 769px) and (max-device-width: 1024px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ IPhone 14 Pro Max(430px)
@media only screen and (min-device-width: 415px) and (max-device-width: 480px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 아이폰XR
@media (min-device-width: 376px) and (max-device-width: 414px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 아이폰 SE
@media (min-device-width: 281px) and (max-device-width: 375px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}

//~ 갤럭시 폴드
@media (max-device-width: 280px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 90%;
    height: 90%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}

//! 반응형 웹브라우저
//~ 디바이스
@media (min-width: 1025px) and (max-width: 1366px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 태블릿, 아이패드, 아이패드 프로
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 481px ~ 768px 및 태블릿
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ IPhone 14 Pro Max(430px)
@media only screen and (min-width: 415px) and (max-width: 480px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 아이폰XR
@media (min-width: 376px) and (max-width: 414px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}
//~ 아이폰 SE
@media (min-width: 281px) and (max-width: 375px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}

//~ 갤럭시 폴드
@media (max-width: 280px) {
  .container {
    width: 100vw;
    height: Calc(100vh - 130px);
    @include App.flex-box-center(column);
    justify-content: start;
  }
  .container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  .container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  .answer-container {
    width: 90%;
    height: 90%;
    @include App.position-absolute-center();
  }
  .homepage {
    left: 0;
    right: 100;
  }
}

//* 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 1025px) and (max-device-width: 1366px) {
  div.container {
    width: 100vw;
    height: Calc(100vh - 130px);
    overflow-y: auto;
    @include App.flex-box-center(column);
    justify-content: start;
    align-items: start;
  }
  div.container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  div.container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  div.answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
    position: fixed;
  }
  div.homepage {
    width: 63px;
    height: 63px;
    position: fixed;
    left: 0;
    bottom: 80px; /* 홈페이지 이동 버튼 위에 위치 */
  }
}

//* 태블릿 아이패드, 아이패드 프로 가로
@media screen and (orientation: landscape) and (min-device-width: 933px) and (max-device-width: 1024px) {
  div.container {
    width: 100vw;
    height: Calc(100vh - 130px);
    overflow-y: auto;
    @include App.flex-box-center(column);
    justify-content: start;
    align-items: start;
  }
  div.container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  div.container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  div.answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
    position: fixed;
  }
  div.homepage {
    width: 63px;
    height: 63px;
    position: fixed;
    left: 0;
    bottom: 80px; /* 홈페이지 이동 버튼 위에 위치 */
  }
}

//* IPhon 14 Pro Max 가로모드
@media screen and (orientation: landscape) and (min-device-width: 897px) and (max-device-width: 932px) {
  div.container {
    width: 100vw;
    height: 100vh;
    @include App.flex-box-center(column);
    justify-content: start;
    align-items: start;
  }
  div.container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  div.container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  div.answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
    position: fixed;
  }
  div.homepage {
    width: 63px;
    height: 63px;
    position: fixed;
    left: 0;
    bottom: 0px; /* 홈페이지 이동 버튼 위에 위치 */
  }
}

//* 아이폰XR 가로모드
@media screen and (orientation: landscape) and (min-device-width: 668px) and (max-device-width: 896px) {
  div.container {
    width: 100vw;
    height: 100vh;
    @include App.flex-box-center(column);
    justify-content: start;
    align-items: start;
  }
  div.container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  div.container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  div.answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
    position: fixed;
  }
  div.homepage {
    width: 63px;
    height: 63px;
    position: fixed;
    left: 0;
    bottom: 0px; /* 홈페이지 이동 버튼 위에 위치 */
  }
}

//* 아이폰SE 가로모드
@media screen and (orientation: landscape) and (min-device-width: 654px) and (max-device-width: 667px) {
  div.container {
    width: 100vw;
    height: 100vh;
    @include App.flex-box-center(column);
    justify-content: start;
    align-items: start;
  }
  div.container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  div.container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  div.answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
    position: fixed;
  }
  div.homepage {
    width: 63px;
    height: 63px;
    position: fixed;
    left: 0;
    bottom: 0px; /* 홈페이지 이동 버튼 위에 위치 */
  }
}

//* 갤럭시 폴드 가로모드 (653px 아래 세팅하고 겹쳐지니 div.으로 구체화 시킴.)
@media screen and (orientation: landscape) and (max-device-width: 653px) {
  div.container {
    width: 100vw;
    height: 100vh;
    @include App.flex-box-center(column);
    justify-content: start;
    align-items: start;
  }
  div.container-box1 {
    width: 100%;
    height: auto;
    overflow: unset;
  }
  div.container-box2 {
    width: 100%;
    height: auto;
    position: relative;
    flex-grow: 1;
  }
  div.answer-container {
    width: 100%;
    height: 100%;
    @include App.position-absolute-center();
    position: fixed;
  }
  div.homepage {
    width: 63px;
    height: 63px;
    position: fixed;
    left: 0;
    bottom: 0px; /* 홈페이지 이동 버튼 위에 위치 */
  }
}
